/*====================all variable definition =====================*/
.bg-primary {
  background-color: #4c1864;
  background-color: #4c1864;
}

.btn {
  background-color: #4c1864;
  background-color: #f7b205;
  color: #000;
}

.btn:active {
  background-color: #4d0a91;
}

.btn:hover {
  background-color: #4d0a91;
  background-color: #4c1864;
  color: #fff;
}

.btn:focus {
  background-color: #4d0a91;
}

.comments-area .comment-form p input[type="submit"] {
  background-color: #4c1864;
}

.pagination > .active > a {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > .active > a:hover {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > .active > a:focus {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > .active > span {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > .active > span:hover {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > .active > span:focus {
  background-color: #4c1864;
  background-color: #4d0a91;
}

.pagination > li > a:hover {
  background-color: #4d0a91;
}

.pagination > li > a:focus {
  background-color: #4d0a91;
}

.pagination > li > span:hover {
  background-color: #4d0a91;
}

.pagination > li > span:focus {
  background-color: #4d0a91;
}

.feature-filters .active > [class*="btn"] {
  background-color: #4c1864;
}

.list-num-count > li:before {
  background-color: #4c1864;
}

.pagination-bx.primary .pagination > li > a {
  background-color: #4c1864;
}

.pagination-bx.primary .pagination > li > a:hover {
  background-color: #4d0a91;
}

.pagination-bx.primary .pagination > li > span {
  background-color: #4c1864;
}

.pagination-bx.primary .pagination > li > span:hover {
  background-color: #4d0a91;
}

.pagination-bx.primary .pagination > li.active > span {
  background-color: #4d0a91;
}

.pagination-bx.primary .pagination > li.active > a {
  background-color: #4d0a91;
}

button.back-to-top {
  background-color: #4c1864;
  background-color: #f7b205;
  color: #000;
}

button.back-to-top:hover {
  background-color: #4c1864;
  color: #fff;
}

.rev-btn {
  background-color: #4c1864;
}

.active > .btn {
  background-color: #4d0a91;
}

.bg-primary-dark {
  background-color: #4d0a91;
}

.sidenav .closebtn:hover {
  background-color: #4d0a91;
}

.sidenav .closebtn:focus {
  background-color: #4d0a91;
}

.owl-btn-1.primary .owl-prev:hover {
  background-color: #4d0a91;
}

.owl-btn-1.primary .owl-next:hover {
  background-color: #4d0a91;
}

.owl-btn-2.primary .owl-prev:hover {
  background-color: #4d0a91;
}

.owl-btn-2.primary .owl-next:hover {
  background-color: #4d0a91;
}

a {
  color: #4c1864;
}

.text-primary {
  color: #4c1864;
}

.primary li:before {
  color: #4c1864;
}

.menu-links .nav > li.active > a {
  color: #4c1864;
}

.menu-links .nav > li:hover > a {
  color: #4c1864;
}

.menu-links .nav > li .mega-menu > li ul a:hover {
  color: #4c1864;
}

.menu-links .nav > li .sub-menu li:hover > a {
  color: #4c1864;
}

footer a:active {
  color: #4c1864;
}

footer a:focus {
  color: #4c1864;
}

footer a:hover {
  color: #4c1864;
}

footer h1 a {
  color: #4c1864;
}

footer h2 a {
  color: #4c1864;
}

footer h3 a {
  color: #4c1864;
}

footer h4 a {
  color: #4c1864;
}

footer h5 a {
  color: #4c1864;
}

footer h6 a {
  color: #4c1864;
}

footer p a {
  color: #4c1864;
}

.testimonial-1 .testimonial-position {
  color: #4c1864;
}

.acod-head a {
  color: #4c1864;
}

.acod-head a:after {
  color: #4c1864;
}

.acod-head a:hover {
  color: #4c1864;
}

.acod-head a.collapsed:hover {
  color: #4c1864;
}

.ttr-tabs .nav-tabs > li > a i {
  color: #4c1864;
}

h1 a:hover {
  color: #4c1864;
}

h2 a:hover {
  color: #4c1864;
}

h3 a:hover {
  color: #4c1864;
}

h4 a:hover {
  color: #4c1864;
}

h5 a:hover {
  color: #4c1864;
}

h6 a:hover {
  color: #4c1864;
}

.btn.outline {
  color: #4c1864;
}

.btn-link:hover {
  color: #4c1864;
}

.bg-secondry {
  background-color: #2d3239;
}

.text-secondry {
  color: #2d3239;
}

.ovpr-light:after {
  background-color: #4c1864;
}

.ovpr-middle:after {
  background-color: #4c1864;
}

.ovpr-dark:after {
  background-color: #4c1864;
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.ovpr:after {
  background-color: #4c1864;
}

.footer-top {
  background-color: #121921;
}

.footer-bottom {
  background-color: #121921;
}

.ovbl-middle::after {
  background: #100018;
  background: linear-gradient(45deg, #100018 0%, #26006c 50%, #110038 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#100018', endColorstr='#110038',GradientType=1 );
}

.ovbl-light::after {
  background: #100018;
  background: linear-gradient(45deg, #100018 0%, #26006c 50%, #110038 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#100018', endColorstr='#110038',GradientType=1 );
}

.ovbl-dark::after {
  background: #100018;
  background: linear-gradient(45deg, #100018 0%, #26006c 50%, #110038 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#100018', endColorstr='#110038',GradientType=1 );
}

.ttr-notify-header::after {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.widget-bg1 {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.ttr-search-bar {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.ttr-header {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.pricingtable-main {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.account-head:after {
  background: #4c1864;
  background: linear-gradient(45deg, #4c1864 0%, #3f189a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1864', endColorstr='#3f189a',GradientType=1 );
}

.course-info-list ul li a.active {
  background-color: #0066ff;
  color: #fff;
}

.course-info-list ul li a.active:hover {
  background-color: #4c1864;
  color: #fff;
}

.course-info-list ul li a:hover {
  background-color: #f7b205;
  color: #000;
  background-color: #4c1864;
  color: #fff;
}

.profile-tabnav .nav li a.active {
  background-color: #f7b205;
  color: #000;
}

.profile-tabnav .nav li a.active:hover {
  background-color: #4c1864;
  color: #fff;
}

.upcoming-event-carousel.owl-btn-1 .owl-prev {
  background-color: #f7b205;
  color: #000;
}

.upcoming-event-carousel.owl-btn-1 .owl-prev:hover {
  background-color: #4c1864;
  color: #fff;
}

.upcoming-event-carousel.owl-btn-1 .owl-next {
  background-color: #f7b205;
  color: #000;
}

.upcoming-event-carousel.owl-btn-1 .owl-next:hover {
  background-color: #4c1864;
  color: #fff;
}

.courses-carousel .owl-nav .owl-next {
  background-color: #f7b205;
  color: #000;
}

.courses-carousel .owl-nav .owl-next:hover {
  background-color: #4c1864;
  color: #fff;
}

.courses-carousel .owl-nav .owl-prev {
  background-color: #f7b205;
  color: #000;
}

.courses-carousel .owl-nav .owl-prev:hover {
  background-color: #4c1864;
  color: #fff;
}

.recent-news-carousel .owl-nav .owl-next {
  background-color: #f7b205;
  color: #000;
}

.recent-news-carousel .owl-nav .owl-next:hover {
  background-color: #4c1864;
  color: #fff;
}

.recent-news-carousel .owl-nav .owl-prev {
  background-color: #f7b205;
  color: #000;
}

.recent-news-carousel .owl-nav .owl-prev:hover {
  background-color: #4c1864;
  color: #fff;
}

.testimonial-carousel .owl-nav .owl-next {
  background-color: #f7b205;
  color: #000;
}

.testimonial-carousel .owl-nav .owl-next:hover {
  background-color: #4c1864;
  color: #fff;
}

.testimonial-carousel .owl-nav .owl-prev {
  background-color: #f7b205;
  color: #000;
}

.testimonial-carousel .owl-nav .owl-prev:hover {
  background-color: #4c1864;
  color: #fff;
}

.header-transparent .secondary-menu .btn-link:hover {
  color: #f7b205;
}

.header-transparent .menu-links .nav > li:hover > a {
  color: #f7b205;
}

.header-transparent .menu-links .nav > li.active > a {
  color: #f7b205;
}

.heading-bx.left .title-head {
  border-color: #f7b205;
}
/*# sourceMappingURL=color-2.css.map */