
.bg-primary {
	background-color: #3e49f3;
	background-color: #ff4b36;
}
.btn {
	background-color: #3e49f3;
	background-color: #ff4b36;
	color: #fff;
	&:active {
		background-color: #2a37f5;
	}
	&:hover {
		background-color: #2a37f5;
		background-color: #3e49f3;
		color: #fff;
	}
	&:focus {
		background-color: #2a37f5;
	}
}
.comments-area {
	.comment-form {
		p {
			input[type="submit"] {
				background-color: #3e49f3;
			}
		}
	}
}
.pagination {
	>.active {
		>a {
			background-color: #3e49f3;
			background-color: #2a37f5;
			&:hover {
				background-color: #3e49f3;
				background-color: #2a37f5;
			}
			&:focus {
				background-color: #3e49f3;
				background-color: #2a37f5;
			}
		}
		>span {
			background-color: #3e49f3;
			background-color: #2a37f5;
			&:hover {
				background-color: #3e49f3;
				background-color: #2a37f5;
			}
			&:focus {
				background-color: #3e49f3;
				background-color: #2a37f5;
			}
		}
	}
	>li {
		>a {
			&:hover {
				background-color: #2a37f5;
			}
			&:focus {
				background-color: #2a37f5;
			}
		}
		>span {
			&:hover {
				background-color: #2a37f5;
			}
			&:focus {
				background-color: #2a37f5;
			}
		}
	}
}
.feature-filters {
	.active {
		>[class*="btn"] {
			background-color: #3e49f3;
		}
	}
}
.list-num-count {
	>li {
		&:before {
			background-color: #3e49f3;
		}
	}
}
.pagination-bx.primary {
	.pagination {
		>li {
			>a {
				background-color: #3e49f3;
				&:hover {
					background-color: #2a37f5;
				}
			}
			>span {
				background-color: #3e49f3;
				&:hover {
					background-color: #2a37f5;
				}
			}
		}
		>li.active {
			>span {
				background-color: #2a37f5;
			}
			>a {
				background-color: #2a37f5;
			}
		}
	}
}
button.back-to-top {
	background-color: #3e49f3;
	background-color: #ff4b36;
	color: #fff;
	&:hover {
		background-color: #3e49f3;
		color: #fff;
	}
}
.rev-btn {
	background-color: #3e49f3;
}
.active {
	>.btn {
		background-color: #2a37f5;
	}
}
.bg-primary-dark {
	background-color: #2a37f5;
}
.sidenav {
	.closebtn {
		&:hover {
			background-color: #2a37f5;
		}
		&:focus {
			background-color: #2a37f5;
		}
	}
}
.owl-btn-1.primary {
	.owl-prev {
		&:hover {
			background-color: #2a37f5;
		}
	}
	.owl-next {
		&:hover {
			background-color: #2a37f5;
		}
	}
}
.owl-btn-2.primary {
	.owl-prev {
		&:hover {
			background-color: #2a37f5;
		}
	}
	.owl-next {
		&:hover {
			background-color: #2a37f5;
		}
	}
}
a {
	color: #3e49f3;
}
.text-primary {
	color: #3e49f3;
}
.primary {
	li {
		&:before {
			color: #3e49f3;
		}
	}
}
.menu-links {
	.nav {
		>li.active {
			>a {
				color: #3e49f3;
			}
		}
		>li {
			&:hover {
				>a {
					color: #3e49f3;
				}
			}
			.mega-menu {
				>li {
					ul {
						a {
							&:hover {
								color: #3e49f3;
							}
						}
					}
				}
			}
			.sub-menu {
				li {
					&:hover {
						>a {
							color: #3e49f3;
						}
					}
				}
			}
		}
	}
}
footer {
	a {
		&:active {
			color: #3e49f3;
		}
		&:focus {
			color: #3e49f3;
		}
		&:hover {
			color: #3e49f3;
		}
	}
	h1 {
		a {
			color: #3e49f3;
		}
	}
	h2 {
		a {
			color: #3e49f3;
		}
	}
	h3 {
		a {
			color: #3e49f3;
		}
	}
	h4 {
		a {
			color: #3e49f3;
		}
	}
	h5 {
		a {
			color: #3e49f3;
		}
	}
	h6 {
		a {
			color: #3e49f3;
		}
	}
	p {
		a {
			color: #3e49f3;
		}
	}
}
.testimonial-1 {
	.testimonial-position {
		color: #3e49f3;
	}
}
.acod-head {
	a {
		&:after {
			color: #3e49f3;
		}
		color: #3e49f3;
		&:hover {
			color: #3e49f3;
		}
	}
	a.collapsed {
		&:hover {
			color: #3e49f3;
		}
	}
}
.ttr-tabs {
	.nav-tabs {
		>li {
			>a {
				i {
					color: #3e49f3;
				}
			}
		}
	}
}
h1 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
h2 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
h3 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
h4 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
h5 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
h6 {
	a {
		&:hover {
			color: #3e49f3;
		}
	}
}
.btn.outline {
	color: #3e49f3;
}
.btn-link {
	&:hover {
		color: #3e49f3;
	}
}
.bg-secondry {
	background-color: #2a37f5;
}
.text-secondry {
	color: #2a37f5;
}
.ovpr-light {
	&:after {
		background-color: #ff4b36;
	}
}
.ovpr-middle {
	&:after {
		background-color: #ff4b36;
	}
}
.ovpr-dark {
	&:after {
		background-color: #ff4b36;
		background: #ff4b36;
		background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
		background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
	}
}
.ovpr {
	&:after {
		background-color: #ff4b36;
	}
}
.footer-top {
	background-color: #121921;
}
.footer-bottom {
	background-color: #121921;
}
.ovbl-middle {
	&::after {
		background: #1d0300;
		background: -moz-linear-gradient(45deg, #1d0300 0%, #000227 33%, #2d120f 62%, #000114 100%);
		background: -webkit-linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		background: linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d0300', endColorstr='#000114',GradientType=1 );
	}
}
.ovbl-light {
	&::after {
		background: #1d0300;
		background: -moz-linear-gradient(45deg, #1d0300 0%, #000227 33%, #2d120f 62%, #000114 100%);
		background: -webkit-linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		background: linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d0300', endColorstr='#000114',GradientType=1 );
	}
}
.ovbl-dark {
	&::after {
		background: #1d0300;
		background: -moz-linear-gradient(45deg, #1d0300 0%, #000227 33%, #2d120f 62%, #000114 100%);
		background: -webkit-linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		background: linear-gradient(45deg, #1d0300 0%,#000227 33%,#2d120f 62%,#000114 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d0300', endColorstr='#000114',GradientType=1 );
	}
}
.ttr-notify-header {
	&::after {
		background: #ff4b36;
		background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
		background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
	}
}
.widget-bg1 {
	background: #ff4b36;
	background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
	background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
}
.ttr-search-bar {
	background: #ff4b36;
	background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
	background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
}
.ttr-header {
	background: #ff4b36;
	background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
	background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
}
.pricingtable-main {
	background: #ff4b36;
	background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
	background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
}
.account-head {
	&:after {
		background: #ff4b36;
		background: -moz-linear-gradient(45deg, #ff4b36 19%, #3e49f3 85%);
		background: -webkit-linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		background: linear-gradient(45deg, #ff4b36 19%,#3e49f3 85%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4b36', endColorstr='#3e49f3',GradientType=1 );
	}
}
.course-info-list {
	ul {
		li {
			a.active {
				background-color: #ff4b36;
				color: #fff;
				&:hover {
					background-color: #3e49f3;
					color: #fff;
				}
			}
			a {
				&:hover {
					background-color: #ff4b36;
					color: #fff;
					background-color: #3e49f3;
					color: #fff;
				}
			}
		}
	}
}
.profile-tabnav {
	.nav {
		li {
			a.active {
				background-color: #ff4b36;
				color: #fff;
				&:hover {
					background-color: #3e49f3;
					color: #fff;
				}
			}
		}
	}
}
.upcoming-event-carousel.owl-btn-1 {
	.owl-prev {
		background-color: #ff4b36;
		color: #fff;
		&:hover {
			background-color: #3e49f3;
			color: #fff;
		}
	}
	.owl-next {
		background-color: #ff4b36;
		color: #fff;
		&:hover {
			background-color: #3e49f3;
			color: #fff;
		}
	}
}
.courses-carousel {
	.owl-nav {
		.owl-next {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
		.owl-prev {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
	}
}
.recent-news-carousel {
	.owl-nav {
		.owl-next {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
		.owl-prev {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
	}
}
.testimonial-carousel {
	.owl-nav {
		.owl-next {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
		.owl-prev {
			background-color: #ff4b36;
			color: #fff;
			&:hover {
				background-color: #3e49f3;
				color: #fff;
			}
		}
	}
}
.header-transparent {
	.secondary-menu {
		.btn-link {
			&:hover {
				color: #ff4b36;
			}
		}
	}
	.menu-links {
		.nav {
			>li {
				&:hover {
					>a {
						color: #ff4b36;
					}
				}
			}
			>li.active {
				>a {
					color: #ff4b36;
				}
			}
		}
	}
}
.heading-bx.left {
	.title-head {
		border-color: #ff4b36;
	}
}
