




/*====================all variable definition =====================*/


	$primary: #4c1864;
	$sc-primary: #4d0a91;
	$heading-color:#3f3e85;
	$text-color:#000;
	$accent-color:#f7b205;
	$base-color:#fff;
	$bg-primary: #6021ff;
	$btn-color:#43cb83;
    $btn-font:16px;
    $linear-color:#0066ff;
	$btn-border-radius:30px;
	$box-border-radius:15px;
	$btn-font-family:"poppins";
	$btn-font-weight:600px;



	

